/**
 * Fix user-agent
 */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#control {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 1024px;
  background-color: #333333;
  text-align: center;
}

.titleContainer {
  width: 220px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.logo {
  float: left;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 5px
}

.titleTextContainer {
  float: left;
  width: 135px;
  text-align: left;
  color: white;
}

.shoulder {
  font-size: 0.5em;
  font-weight: bold;
  color: aqua;
}

.title {
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'HelveticaNeue-CondensedBlack', sans-serif;
}

.authorContainer {
  clear: both;
}

.authorItemLabel {
  margin: 15px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.authorItemValue {
  margin: 10px;
  color: lightgrey;
  font-size: 1.2em;
}

.authorSocialContainer {
  margin: 20px;
}

.authorItemSocial {
  margin: 10px;
  cursor: pointer;
}

.authorCommentContainer {
  clear: both;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.0em;
}

#whiteboard {
  position: absolute;
  left: 220px;
  top: 0;
}

#colorPickerContainer {
  position: absolute;
  width: 220px;
}

#colorPicker {
  position: absolute;
  left: 10px;
}

.toolsContainer {
  margin: 15px;
}

.toolItem {
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #333333;
}

.toolItem:hover {
  background-color: darkgray;
}

.toolItem:active {
  background-color: #999999;
}

.toolItem:hover > i {
  color: #eeeeee;
}

.toolItem.selected {
  background-color: lightgray;
}

.toolItem.selected > i {
  color: #333333;
}

/**
 * Font Awesome icons
 */
.fab {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: lightgray;
}

.fab:hover {
  opacity: 0.8;
}

.fab:active {
  opacity: 0.5;
}

.fas {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: lightgray;
}
